* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  min-height: 2000px;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1700px;
}

.nonmetal {
  background-color: #ffff66;
}

.noble {
  background-color: #ffdb4d;
}

.alkali {
  background-color: #ff9999
}

.alkaline {
  background-color: #dd99ff
}

.metalloid {
  background-color: #d4d4aa
}

.post-transition {
  background-color: #9fff80
}

.transition {
  background-color: #80dfff;
}

.lanthanide {
  background-color: #8080ff
}

.actinide {
  background-color: #ccccff
}
