* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1700px;
}

.modal_bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.nonmetal {
  background-color: #ffff66;
}

.noble {
  background-color: #ffdb4d;
}

.alkali {
  background-color: #ff9999
}

.alkaline {
  background-color: #dd99ff
}

.metalloid {
  background-color: #d4d4aa
}

.post-transition {
  background-color: #9fff80
}

.transition {
  background-color: #80dfff;
}

.lanthanide {
  background-color: #8080ff
}

.actinide {
  background-color: #ccccff
}
